<h3>
  <%= @cat.name %>
</h3>

<table>
  <tr>
     <th>Age</th>
     <th><%= @cat.age %></th>
  </tr>
  <tr>
     <th>Sex</th>
     <th><%= @cat.sex %></th>
  </tr>
  <tr>
     <th>Color</th>
     <th><%= @cat.color %></th>
  </tr>
</table>
<br />
Description
<br />
<%= @cat.description  %>
